@import "ui-variables";
@import "octicon-mixins";

tool-bar {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  min-width: -webkit-min-content;
  border-bottom: 1px solid @tool-panel-border-color;
  padding: 6px @component-padding;
  min-height: 40px;

  a, a:hover {
    color: @text-color;
  }

  // Use 1/3 of space -> will get cut-off first when narrow
  .tool-bar-left {
    flex: 1 1 33%;
  }

  // Use 2/3 of space
  .tool-bar-right {
    padding-left: @component-padding;
    .inline-block {
      margin-right: 0;
      margin-left: @component-padding;
      & > .inline-block {
        margin-left: 0;
      }
    }
  }

  // Add horizontal overflow scrolling
  .tool-bar-left,
  .tool-bar-right {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tool-bar-left,
  .tool-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
      width: 200px;
    }
  }

  // Limit inline-blocks from getting too long
  .inline-block {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon:before {
    top: 1px;
    margin-right: 0px;
  }
}

body.platform-darwin {
  tool-bar {
    .tool-bar-left,
    .tool-bar-right {
      select {
        height: 26px;
      }
    }
  }
}
